body{
    font-family: 'Poppins', sans-serif;
    margin: 0%;
}
h1{
    font-size: 50px;
}
.color{
    color:orange;
}
section{
    display: flex;
}
.divided{
    width: 45%;
    padding: 3%;
}
.image{
    width: 45p%;
   padding: 3%;
}
.my{
    padding: 3%;
}
.jastify{
    text-align: justify;
}
.nasid{
    text-decoration: none;
    padding: 10px 40px;
    color: white;
    background-image:linear-gradient(rgb(221, 39, 39),rgb(183, 241, 21));
    border-radius: 5px;
    font-weight: 400;
}
.backcover{
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}