body{
    font-family: 'Poppins', sans-serif;
    margin: 0%;
}
h1{
    font-size: 50px;
}
h2{
    font-size: 40px;
}
.color{
    color:orange;
}
.flexible{
    display: flex;
    margin-bottom: 150px;
}
.divided{
    width: 45%;
    padding: 3%;
  
}
.image{
    width: 45p%;
   padding: 3%;
}
.my{
    padding: 3%;
}
.jastify{
    text-align: justify;
}
.nasid{
    text-decoration: none;
    padding: 10px 40px;
    color: white;
    background-image:linear-gradient(rgb(233, 67, 169),rgb(176, 233, 102));
    border-radius: 5px;
    font-weight: 400;
}
.github{
    text-decoration: none;
    padding: 10px 40px;
    color: white;
    background-image:linear-gradient(rgb(38, 17, 226),rgb(124, 248, 190));
    border-radius: 5px;
    font-weight: 400;
}
.backcover{
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}
.backcovers{
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}
.dream{
    color:black;
}
.smallo{
    color:orange;
}
.shadow{
    box-shadow: 10px 20px 40px grey;
    width: 40%;
    margin-left: 5%;
    margin-right: 5%;
    padding: 10px;
    border-radius: 10px;
}
.experience{
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
}
#full{
    border-left: 7px solid tomato;
}
#baby{
    border-left: 7px solid blue;
}
footer p{
    text-align: center;
}